
<header id="headerSection">
    <div class="logo">
        <img src="../images/sbn-logo.png" alt="Stocky Business News Logo">
        <a href="/">Stocky Business News</a>
        <h1>just a placehholder for now</h1>

    </div>

   

    <nav>
        <a href="../../index.html">News</a>
        <a href="../stockdetails/index.html">Stock Details</a>
        <a href="../watchlist/index.html">Watchlist</a>
    </nav>
    
    <div id="stockStream">
        <div class="stockStreamItem">
            <div class="stockSteamItemDetails">
                <p>Name</p>
                <p>Ticker</p>
                <p>Current Value - previous close</p>
            </div>
            <button>Add to watchlist</button>
            
        </div>

        <div class="stockStreamItem">
            <div class="stockSteamItemDetails">
                <p>Name</p>
                <p>Ticker</p>
                <p>Current Value - previous close</p>
            </div>
            <button>Add to watchlist</button>
            
        </div>

        <div class="stockStreamItem">
            <div class="stockSteamItemDetails">
                <p>Name</p>
                <p>Ticker</p>
                <p>Current Value - previous close</p>
            </div>
            <button>Add to watchlist</button>
            
        </div><div class="stockStreamItem">
            <div class="stockSteamItemDetails">
                <p>Name</p>
                <p>Ticker</p>
                <p>Current Value - previous close</p>
            </div>
            <button>Add to watchlist</button>
            
        </div>

    </div>


     <!-- <div class="watchlist">
        
        <a href="/watchlist/index.html">
            <img>
        </a>

    </div> -->

</header>
    
